In [176]:
print('hello python')

hello python

In [35]:
print("hello world")

hello world

In [36]:
a = 10
b = 3.5
c = 'python'

In [37]:
print(a,b,c)

10 3.5 python

In [38]:
type(a)

int

In [39]:
type(b)

float

In [40]:
type(c)

str

In [42]:
num =2134

In [43]:
python_score=45

In [48]:
#python-score=45

In [45]:
math1 = 90

In [47]:
#1math = 90

In [49]:
e='python'
type(e)

str

In [50]:
f=[1,2,3,4,5]
type(f)

list

In [51]:
g=(4,5,6,7,8)
type(g)

tuple

In [52]:
h={1,2,3,4,5,6}
type(h)

set

In [55]:
i={3:5, 5:79, 7:35}
type(i)

dict

In [57]:
a=5.6
b=int(a)
type(b)

int

In [58]:
a='234'
b=int(a)
type(b)

int

In [59]:
round(2.5)

2

In [60]:
round(2.6)

3

In [62]:
import math
math.ceil(1.2)

2

In [63]:
math.floor(2.5)

2

In [166]:
'''
python
주석 연습
'''
a=10
b=20

In [65]:
>>> s = "hello 'world'"
print(s)

hello 'world'

In [67]:
>>> p = 'hello "world"'
print(p)

hello "world"

In [75]:
#문자열 슬라이싱 - 인덱스를 통해 일부분에 접근
lang = 'python programming'
print(lang[7])
print(lang[-6])
print(lang[-9])

p
a
o

In [69]:
#lang[7] = 'p' <--에러. 문자열은 변경불가

In [70]:
print(lang[7:11])

prog

In [72]:
print(lang[-16:-13])

tho

In [73]:
print(lang[-13:-16]) #인덱스오류로 아무값도 나오지 않음

In [77]:
a='hello'
b=' '
(a+b)*3

'hello hello hello '

In [78]:
subject = 'programming'
'r' in subject

True

In [80]:
'gram' in subject
'abcd' not in subject

True

In [82]:
len(subject) #문자열 길이반환

11

In [83]:
name = 'alice wonderland'
name.upper()

'ALICE WONDERLAND'

### String

In [84]:
text = 'python programming'

In [85]:
print(text)

python programming

In [86]:
text[1]

'y'

In [87]:
text[3]

'h'

In [88]:
text[-3]

'i'

In [89]:
text[0:6]

'python'

In [90]:
text[:]

'python programming'

In [91]:
text[:6]

'python'

In [92]:
text.split()

['python', 'programming']

In [93]:
text[7:]

'programming'

In [95]:
text.split()[0]

'python'

In [96]:
text[-3:]

'ing'

In [98]:
text[0:15:2] #하나씩 걸러서 가져오기 3번째 원소 = 건너뛰기

'pto rgam'

In [99]:
s= 'name :철수, email: chul@naver.com'

In [100]:
print(s)

name :철수, email: chul@naver.com

In [101]:
d = 'name : {}, email : {}'

In [103]:
e= d.format('민수','minsu@naver.com')
print(e)

name : 민수, email : minsu@naver.com

In [104]:
state ='mississippi'

In [106]:
state.count('s') #count함수 포함갯수 세기

4

In [107]:
state.find('m') #find함수 인덱스값 찾기

0

In [108]:
a = 'hello'
b = 'world'
a+b

'helloworld'

In [109]:
a*2

'hellohello'

In [110]:
text = 'python programming'

In [111]:
'p' in text

True

In [112]:
's' in text

False

In [113]:
len(text)

18

In [114]:
text.upper()

'PYTHON PROGRAMMING'

In [115]:
text.lower()

'python programming'

In [117]:
text.title() #첫글자만 대문자

'Python Programming'

In [118]:
email='yuna@naver.com'
email.split('@')[1]

'naver.com'

In [121]:
day = '2020-01-08'
month = day.split('-')[1]
print(month)

01

In [129]:
type(month)

str

List

In [127]:
a=1; b=2; c=3;
d =[]
d.insert(0,a)
d.insert(1,b)
d.insert(2,c)

print(d)
d.append(4)

[1, 2, 3]

In [128]:
print(d)

[1, 2, 3, 4]

In [177]:
score=[80,20,24,51,85,65,54]
score

[80, 20, 24, 51, 85, 65, 54]

In [131]:
score[1]

20

In [132]:
score[3]

51

In [135]:
score[-2]

65

In [136]:
score[1:4]

[20, 24, 51]

In [137]:
score[:3]

[80, 20, 24]

In [138]:
score[-2:]

[65, 54]

In [139]:
score[:]
score

[80, 20, 24, 51, 85, 65, 54]

In [140]:
len(score)

7

In [143]:
score[1:7:2] #홀수

[20, 51, 65]

In [144]:
score[0:7:2] #홀수

[80, 24, 85, 54]

In [182]:
sum(score)

TypeError: 'int' object is not callable

In [179]:
max(score)

85

In [180]:
min(score)

20

In [181]:
import numpy
numpy.mean(score)

54.142857142857146

In [153]:
#맨 뒤에 55fmf cnrkgktldh.
score.append(55)
score

[80, 20, 24, 51, 85, 65, 54, 55]

In [154]:
#1번 인덱스 자리에 100을 넣기
score.insert(1,100)
score

[80, 100, 20, 24, 51, 85, 65, 54, 55]

In [156]:
score.count(55)

1

In [157]:
score.index(20)

2

In [158]:
# 55를 삭제
score.remove(55)
score

[80, 100, 20, 24, 51, 85, 65, 54]

In [160]:
# 1번 인덱스 값을 삭제
score.pop(1)
score

[80, 20, 24, 51, 85, 65, 54]

In [162]:
sorted(score)

[20, 24, 51, 54, 65, 80, 85]

In [163]:
score

[80, 20, 24, 51, 85, 65, 54]

In [164]:
score.sort()

In [165]:
score

[20, 24, 51, 54, 65, 80, 85]

In [168]:
score.clear()
score

[]

In [169]:
range(10)

range(0, 10)

In [170]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [172]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [183]:
print(list(range(2,101,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [184]:
a=[1,2,4,5]
b=[5,6,7,8]
a+b

[1, 2, 4, 5, 5, 6, 7, 8]

In [186]:
a.extend(b)
a

[1, 2, 4, 5, 5, 6, 7, 8, 5, 6, 7, 8]

Tuple

In [192]:
T = (1,2,3,4,5,6,7,8,9,5,6,7,78,8,8,6,5,4,43)

In [193]:
T.count(5)

3

In [194]:
T.index(5)

4

In [195]:
7 in T

True

In [196]:
T[1]

2

In [197]:
T[-3]

5

In [198]:
T[2:5]

(3, 4, 5)

In [199]:
T[-2:]

(4, 43)

In [201]:
# T[1] =100 <- 스트링과 마찬가지로 immutable

###Set
*중복값을 갖지 않는다
*순서가 없다 (※인덱스가 없다)

In [204]:
s = {2,4,6,8,76,4,3,2,5,6,7,8,8}
s

{2, 3, 4, 5, 6, 7, 8, 76}

In [206]:
s.discard(4)
s

{2, 3, 5, 6, 7, 8, 76}

In [208]:
s.add(3)
s

{2, 3, 5, 6, 7, 8, 76}

In [211]:
s.pop()

2

In [212]:
s

{3, 5, 6, 7, 8, 76}

Dictionary

In [221]:
d={'one':1, 'two':2, 'three':3, 1:'adf'}
d

{'one': 1, 'two': 2, 'three': 3, 1: 'adf'}

In [222]:
d['one']

1

In [223]:
d[1]

'adf'

In [227]:
d['four']=4
d

{'one': 1, 'two': 2, 'three': 3, 1: 'adf', 'four': 4}

In [229]:
d['three']=55
d

{'one': 1, 'two': 2, 'three': 55, 1: 'adf', 'four': 4}

In [232]:
d['six']

KeyError: 'six'

In [239]:
d.get('six')

In [240]:
d.get('six', 5) #six라는 키값이 없다면 5를 가져와라

5

In [241]:
list(d.items())[2][1]

55

In [242]:
for i in d.items():
    print(i)

('one', 1)
('two', 2)
('three', 55)
(1, 'adf')
('four', 4)

In [243]:
d.keys()

dict_keys(['one', 'two', 'three', 1, 'four'])

In [244]:
d.values()

dict_values([1, 2, 55, 'adf', 4])

In [245]:
list(d.values())[2]

55

In [246]:
d.setdefault('one')

1

In [247]:
d.setdefault('six', 6) #있으면 가져오고 만약 없으면 해당 키값과 값을 입력한다,

6

In [248]:
d.setdefault('six', 7)

6

In [249]:
d

{'one': 1, 'two': 2, 'three': 55, 1: 'adf', 'four': 4, 'six': 6}

In [250]:
d['two'] = 20

In [251]:
d

{'one': 1, 'two': 20, 'three': 55, 1: 'adf', 'four': 4, 'six': 6}

In [252]:
d.pop('six')

6

In [253]:
d

{'one': 1, 'two': 20, 'three': 55, 1: 'adf', 'four': 4}

In [255]:
g = {'ten':10}

In [256]:
d.update(g)
d

{'one': 1, 'two': 20, 'three': 55, 1: 'adf', 'four': 4, 'ten': 10}