In [6]:
text = 'hello world'

for i in text:
    print(i, end='')

hello world

In [36]:
for i in 'hello world': #변수를 직접 쓸 수도 있다
    print(i, end='')

hello world

In [10]:
#text에서 for문을 이용해서 문자를 대문자로 전환

for i in text:
    print(i.upper(), end='')

HELLO WORLD

In [14]:
#text에서 for문을 이용해서 문자를 대문자로 바꿔서 리스트에 담으시오

a = []
for i in text:    
    a.append(i.upper())
    
a

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [15]:
#0~20까지 정수에서 3의 배수만 리스트에 담기

b =[]
for i in range(21):
    if i%3==0:
        b.append(i)
b

[0, 3, 6, 9, 12, 15, 18]

In [30]:
#text에서 짝수 인덱스만 리스트에 담으세요
b =[]
for i in range(0 ,len(text), 2):
    b.append(text[i])
b

['h', 'l', 'o', 'w', 'r', 'd']

In [25]:
#text에서 짝수 인덱스만 리스트에 담으세요
c =[]
for i,cha in enumerate(text):
    if i%2==0:
        c.append(cha)
c

['h', 'l', 'o', 'w', 'r', 'd']

In [198]:
#text에서 모음만 추출해서 리스트에 담으세요
c=[]
for i in text:
    if i=='a' or i=='i' or i=='o' or i=='u' or i=='e':
        c.append(i)
c

['o', 'u', 'a', 'i', 'o', 'a', 'i', 'i']

In [199]:
#text에서 모음만 추출해서 리스트에 담으세요
text = 'computational thinking'
c=[]
for i in text:
    if i in ['a','e','o','u','i']:
        c.append(i)
c

['o', 'u', 'a', 'i', 'o', 'a', 'i', 'i']

In [200]:
#words 에서 캐릭터수가 4 이상인 단어만 추출

words = ['mountain', 'sea', 'sky', 'river', 'could', 'tree', 'lake', 'country']

for i in words:
    if len(i)>=4:
        print(i, end='/')

mountain/river/could/tree/lake/country/

In [57]:
num1= ['a', 'b', 'c']
num2= [8,5,4,2,7]

# 모든 조합을 L이라는 리스트에 담으시오
# => ('a',8),('a',5)...

L = []

for i in num1:
    for j in num2:
        L.append((i,j))
print(L, end='')

[('a', 8), ('a', 5), ('a', 4), ('a', 2), ('a', 7), ('b', 8), ('b', 5), ('b', 4), ('b', 2), ('b', 7), ('c', 8), ('c', 5), ('c', 4), ('c', 2), ('c', 7)]

In [65]:
L:[]
L.clear()

for i in text:
    L.append(i)
print(L, end='')

['c', 'o', 'm', 'p', 'u', 't', 'a', 't', 'i', 'o', 'n', 'a', 'l', ' ', 't', 'h', 'i', 'n', 'k', 'i', 'n', 'g']

List Comprehension

#List 안에서 for문을 실행하고, 결과가 list에 담겨서 나온다.

In [66]:
L.clear()
L =[]
for i in range(10):
    L.append(i)
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
print([(i,j) for i in num1 for j in num2], end='')

[('a', 8), ('a', 5), ('a', 4), ('a', 2), ('a', 7), ('b', 8), ('b', 5), ('b', 4), ('b', 2), ('b', 7), ('c', 8), ('c', 5), ('c', 4), ('c', 2), ('c', 7)]

In [74]:
for i in range(10):
    if i%2 ==0:
        L.append(i)
L.clear()

In [76]:
L1 = [i for i in range(10) if i%2==0]

In [77]:
L1

[0, 2, 4, 6, 8]

In [79]:
#짝수의 갯수를 구하시오
temp =[1,2,4,5,6,67,7,7,5,4,3,2,5,7,8,9,90]

a =0 
for i in temp:
    if i%2==0:
        a+=1
a

7

In [80]:
#짝수의 합

a =0
for i in temp:
    if i%2==0:
        a+=i
a

116

In [83]:
#1~100합
a=0
for i in range(1,101):
    a+=i
a

5050

In [107]:
#1~100까지의 수에서 짝수의 합과 홀수의 합을 구하시오
a=0; b=0;
for i in range(1,101):
    if i%2==0:
        a+=i
    else:
        b+=i
print('짝수=',a,'홀수=',b)

짝수= 2550 홀수= 2500

In [113]:
#value의 합을 구하시오
score = {'a':5, 'b':3, 'c':8, 'd':4}

a=0
for i in score.values():
    a += i

print(a)
print(sum(score.values()))

20
20

In [119]:
temp1 = ['a','b','c','d']
temp2 = [1,2,3,4]
#temp1을 key로 하고 temp2를 value로 하는 dict를 만들기

d= {}
for i in temp1:    
    for j in temp2:
        if temp2.index(j)==temp1.index(i):
            d.setdefault(i,j)
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [120]:
temp1 = ['a','b','c','d']
temp2 = [1,2,3,4]
#temp1을 key로 하고 temp2를 value로 하는 dict를 만들기

d= {}
for i in range(4):
    d[temp1[i]]=temp2[i]
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [127]:
# for 문을 이용해서 구구단을 출력하기

for i in range(2,10):
    for j in range(2,10):
        print(i,'x',j,'=',i*j,end=' ')
    print()

2 x 2 = 4 2 x 3 = 6 2 x 4 = 8 2 x 5 = 10 2 x 6 = 12 2 x 7 = 14 2 x 8 = 16 2 x 9 = 18
3 x 2 = 6 3 x 3 = 9 3 x 4 = 12 3 x 5 = 15 3 x 6 = 18 3 x 7 = 21 3 x 8 = 24 3 x 9 = 27
4 x 2 = 8 4 x 3 = 12 4 x 4 = 16 4 x 5 = 20 4 x 6 = 24 4 x 7 = 28 4 x 8 = 32 4 x 9 = 36
5 x 2 = 10 5 x 3 = 15 5 x 4 = 20 5 x 5 = 25 5 x 6 = 30 5 x 7 = 35 5 x 8 = 40 5 x 9 = 45
6 x 2 = 12 6 x 3 = 18 6 x 4 = 24 6 x 5 = 30 6 x 6 = 36 6 x 7 = 42 6 x 8 = 48 6 x 9 = 54
7 x 2 = 14 7 x 3 = 21 7 x 4 = 28 7 x 5 = 35 7 x 6 = 42 7 x 7 = 49 7 x 8 = 56 7 x 9 = 63
8 x 2 = 16 8 x 3 = 24 8 x 4 = 32 8 x 5 = 40 8 x 6 = 48 8 x 7 = 56 8 x 8 = 64 8 x 9 = 72
9 x 2 = 18 9 x 3 = 27 9 x 4 = 36 9 x 5 = 45 9 x 6 = 54 9 x 7 = 63 9 x 8 = 72 9 x 9 = 81

In [138]:
# for 문을 이용해서 구구단을 출력하기

for i in range(2,10):
    for j in range(2,10):
        print('{}x{}={:>2}'.format(i,j,i*j),end=' ')
    print()

2x2= 4 2x3= 6 2x4= 8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18
3x2= 6 3x3= 9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27
4x2= 8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36
5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45
6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54
7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63
8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72
9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81

In [162]:
for i in range(0,5):
    for j in range(0,5):
        if i>=j:
            print('*',end='')
    print()

*
**
***
****
*****

In [160]:
for i in range(0,6):
    for j in range(0,6):
        if i<j:
            print('*',end='')
    print()

*****
****
***
**
*

In [163]:
for i in range(0,6):
    print('*'*i)

*
**
***
****
*****

In [165]:
for i in range(0,6):
    print('*'*(5-i))

*****
****
***
**
*

In [168]:
#while문으로 1~55까지의 합

a =0
b =0
while a<=55:
    b+=a
    a+=1
b

1540

In [ ]:
#while문을 이용 점수를 5회 입력받은 후 점수 평균을 계산하도록

In [178]:
total  =0
count =1
num =5
while count <= num:
    score = int(input())
    total+=score
    count +=1
total/num

5
5
5
5
5

5.0

In [202]:
total  =0
count =1
num =5
while count <= num:
    total+= int(input())   
    count +=1
total/num

45
53
45
6
456

121.0

In [191]:
#while문에서 continue를 사용해서 1~100까지의 수에서
#3의 배수의 합

i =0
suma =0
while i<=100:   
    i += 1
    if i%3 !=0:        
        continue
    suma += i       
    
suma

1683

In [197]:
#while문에서 continue를 사용해서 1~100까지의 수에서
#20보다 크고 70보다 작은 수들의 합

i=0
suma =0
while i<100:    
    i +=1
    if i<21:
        continue
    
    elif i>=70:
        break
    suma+=i    
suma

2205

In [196]:
#while문에서 continue를 사용해서 1~100까지의 수에서
#3의 배수의 합

i =0
suma =0
while i<=100:       
    if i%3 ==0:        
        suma += i           
    i += 1
suma

1683