1. int - 정수
2. float - 실수
3. bool - True, False
---------------------------------
#### 군집형 데이터 타입
4. String - '', 원소의 수정 삭제 추가가 불가능 immutable
5. List - [], 원소의 수정 삭제 추가가 자유로움 mutable
6. Tuple - (), 원소의 수정 삭제 추가가 불가능 immutable
7. Set - {}, 중복데이터 제외, 인덱스가 없음
8. DIct - {key:value}, 키값이 인덱스 역할을 한다.

String

In [1]:
text = '이 또한 지나가리라'

In [2]:
# '또한' 이라는 어절을 추출
text[2:4]

'또한'

In [3]:
#'가리라'
text[-3:]

'가리라'

In [5]:
# 이름을 입력받은 후, => '안녕하세요. 이름님!!'
name = '안녕하세요. {}님!!'
name.format('강덕희')

'안녕하세요. 강덕희님!!'

In [7]:
# 이름을 입력받은 후, => '안녕하세요. 이름님!!'
num = input('정수를 입력하세요')
print('당신이 입력한 정수는 ', num, '입니다.')

정수를 입력하세요111
당신이 입력한 정수는  111 입니다.

In [11]:
# 이름을 입력받은 후, => '안녕하세요. 이름님!!'
nameValue = input('이름을 입력하세요')
print(name.format(nameValue))

이름을 입력하세요강덕희
안녕하세요. 강덕희님!!

In [12]:
# 이름을 입력받은 후, => '안녕하세요. 이름님!!'
nameValue = input('이름을 입력하세요')
print('안녕하세요 {}님!!!@#'.format(nameValue))

이름을 입력하세요ㄴㅁㅇㄹ
안녕하세요 ㄴㅁㅇㄹ님!!!@#

In [14]:
#문장을 입력받은 후 문장의 길이를 출력하세요.
str1 = input('문장을 입력하세요')
print(len(str1))

문장을 입력하세요adsfasdfasdfasdfa
17

In [15]:
#이메일을 입력받은 후 아이디를 출력하세요
email1 = input('이메일을 입력하세요')
print(email1.split('@')[0])

이메일을 입력하세요asdfa@adsf.com
asdfa

In [17]:
text = 'A lot of things occur each day, every night'

# 'o'의 갯수를 출력하세요
# 첫번째 'o'의 인덱스를 출력하세요
# text에 'o'이 있는지 확인하세요

text.count('o')

3

In [20]:
text.index('o'[0])

3

In [21]:
text.find('o')

3

In [19]:
'o' in text

True

List

In [46]:
ls = [1,2,'a', 'b', 'c', [4,5,6], '가', '나']
ls

[1, 2, 'a', 'b', 'c', [4, 5, 6], '가', '나']

In [30]:
# 2를 출력
#'b'를 출력
# 5를 출력
# 5,6을 출력
# 맨 마지막 두 원소 출력
# 홀수 자리원소 출력


print(ls[1])
print(ls[3])
print(ls[-3][1])
print(ls[-3][1:])
print(ls[-2:])
print(ls[1::2])

2
b
5
[5, 6]
['가', '나']
[2, 'b', [4, 5, 6], '나']

In [47]:
#ls의 길이를 출력
#ls의 1번 인덱스 값을 10으로 수정
#ls의 3번 인덱스 삭제
#'라'를 마지막에 추가
#1번 인덱스에 100을 삽입
#값 100을 삭제


print(len(ls))
ls[1]=10
print(ls[1])
ls.pop(3)
print(ls)
ls.append('라')
print(ls)
ls.insert(1,100)
print(ls)
ls.remove(100)
print(ls)

8
10
[1, 10, 'a', 'c', [4, 5, 6], '가', '나']
[1, 10, 'a', 'c', [4, 5, 6], '가', '나', '라']
[1, 100, 10, 'a', 'c', [4, 5, 6], '가', '나', '라']
[1, 10, 'a', 'c', [4, 5, 6], '가', '나', '라']

In [48]:
ls

[1, 10, 'a', 'c', [4, 5, 6], '가', '나', '라']

In [49]:
### list 종합문제

In [101]:
sol = ['태양', '수성', '금성', '지구', '화성', '목성', '지구']
sol1 = ['토성', '천왕성', '해왕성']

In [102]:
#1.sol에서 '수성', '금성', '지구'를 출력하세요
#2.sol에서 '지구' 인덱스를 출력하세요
#3.sol에서 '화성을 '해왕성'으로 수정하세요
#4.sol에서 '수성' 자리에 '명왕성' 을 삽입하세요
#5.sol에서 맨 끝에 '토성'을 추가하세요.
#6.sol에서 3번 인덱스를 삭제하세요.
#7.sol에서 '금성'을 삭제하세요
#8.sol에서 오름차순 정렬하세요.
#9.sol에서 '만리장성'이 있는지 확안하세요.
#10.sol의 길이를 리턴하세요
#11.sol과 sol1을 연결하세요.
#12.sol뒤에 sol1을 붙이세요.
#13.sol의 모든 요소를 삭제하세요.
#14.sol 리스트를 삭제하세요.
print(sol[1:4])

['수성', '금성', '지구']

In [103]:
print(sol.index('지구'))

3

In [104]:
sol[sol.index('화성')]='해왕성'
sol[-3]='해왕성'
print(sol[-3])

해왕성

In [105]:
sol.insert(sol.index('수성'),'명왕성')
sol.insert(1,'명왕성')
print(sol)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [106]:
sol.append('토성')
print(sol)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [107]:
sol.pop(2)
print(sol)

['태양', '명왕성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [108]:
sol.remove('금성')
print(sol)

['태양', '명왕성', '지구', '해왕성', '목성', '지구', '토성']

In [109]:
#sorted(sol)
sol.sort()
print(sol)

['명왕성', '목성', '지구', '지구', '태양', '토성', '해왕성']

In [110]:
print('만리장성' in sol)

False

In [111]:
print(len(sol))

7

In [112]:
print(sol+sol1)

['명왕성', '목성', '지구', '지구', '태양', '토성', '해왕성', '토성', '천왕성', '해왕성']

In [113]:
sol.extend(sol1)
print(sol)

['명왕성', '목성', '지구', '지구', '태양', '토성', '해왕성', '토성', '천왕성', '해왕성']

In [114]:
sol.clear()
sol

[]

In [115]:
del sol
sol

NameError: name 'sol' is not defined