Tuple

In [2]:
mtuple = ('tuple', (1,2,3), [4,5,6])
mtuple

('tuple', (1, 2, 3), [4, 5, 6])

In [4]:
#'tuplel'을 출력하시오
mtuple[0]

'tuple'

In [6]:
#3을 출력하시오
mtuple[1][2]

3

In [10]:
#4,5를 출력하시오
mtuple[2][:2]

[4, 5]

In [11]:
#4를 출력하시오
mtuple[2][0]

4

In [12]:
#(1,2,3)을출력하시오
mtuple[1]

(1, 2, 3)

In [23]:
mtuple= (1,2,3,3,2,1)
ytuple= (4,5,6)
mt = mtuple
yt = ytuple

In [24]:
#mt yt 연결
print(mt+yt)

(1, 2, 3, 3, 2, 1, 4, 5, 6)

In [25]:
#mt3반복
mt*3

(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)

In [26]:
#mt에 3이 있는지 확인
3 in mt

True

In [27]:
#mt에 3이 몇개 있는지 확인
mt.count(3)

2

In [28]:
#yt에 6의 인덱스 출력
yt.index(6)

2

In [29]:
#mt에서 index2의 값을 '5'로 수정 // immutable
mt[2] =5

TypeError: 'tuple' object does not support item assignment

In [30]:
t = (5,4,7,4,2,3,5)
t

(5, 4, 7, 4, 2, 3, 5)

In [31]:
#t의 길이
len(t)

7

In [32]:
#t의 최대값
max(t)

7

In [33]:
#t의 최소값
min(t)

2

In [34]:
#t의 합
sum(t)

30

In [37]:
#t를 오름차순 정렬
sorted(t)

[2, 3, 4, 4, 5, 5, 7]

In [39]:
#t평균
import numpy
numpy.mean(t)

4.285714285714286

Set

In [41]:
my_set = set()
m = my_set

In [42]:
#'sky'추가
m.add('sky')
m

{'sky'}

In [43]:
#'sea'추가
m.add('sea')
m

{'sea', 'sky'}

In [44]:
#(1,2)추가
m.add((1,2))
m

{(1, 2), 'sea', 'sky'}

In [45]:
#m의 길이 리턴
len(m)

3

In [46]:
#'sea'가 포함되었는지
'sea' in m

True

In [53]:
#my_list=[1,2,2,2,3]인 my_list를 set으로 타입변경
my_list=[1,2,2,2,3]
my_list

[1, 2, 2, 2, 3]

In [55]:
my_list = set(my_list)
print(my_list)

{1, 2, 3}

In [57]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
#합집합
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [58]:
#교집합
A.intersection(B)

{1, 2, 3}

In [59]:
#A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [60]:
#대칭 차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

Dictionary

In [61]:
name = {'mary':1099, 'sams':2111, 'amy':9788, 'tom':2024, 'bob':5877}
name

{'mary': 1099, 'sams': 2111, 'amy': 9788, 'tom': 2024, 'bob': 5877}

In [64]:
#mary출력
name['mary']

1099

In [65]:
#key는 'kelly' value는 7788인 새로운 요소 추가
name['kelly'] = 7788
name

{'mary': 1099,
 'sams': 2111,
 'amy': 9788,
 'tom': 2024,
 'bob': 5877,
 'kelly': 7788}

In [66]:
#'tom'의 value를 2000으로 수정
name['tom'] = 2000
name['tom']

2000

In [67]:
#key에 'sams'가 포함?
'sams' in name

True

In [76]:
#value에 9788이 포함되어 있는지 확인
9788 in name.values()

True

In [71]:
#모든 key값을 리스트로 출력
name.keys()

dict_keys(['mary', 'sams', 'amy', 'tom', 'bob', 'kelly'])

In [74]:
#모든 value를 리스트로 출력
name.values()

dict_values([1099, 2111, 9788, 2000, 5877, 7788])

In [73]:
#모든 워소를 {key, value} 튜플로 출력
name.items()

dict_items([('mary', 1099), ('sams', 2111), ('amy', 9788), ('tom', 2000), ('bob', 5877), ('kelly', 7788)])

In [77]:
#sol = ['태양', '수성', '금성', '지구']
#sol2 = ['Sun', 'Mercury', 'Venus', 'Earth']

In [87]:
'''name dict에서 이름을 입력받은 후, 이름이 name dict에 있으면 값을 출력하고
없으면 받은 이름과 값은 1000으로 해서 name dict에 삽입'''
inputName=input('검색할 키값 입력')
name.setdefault(inputName,1000)

검색할 키값 입력ㅁㅇㄻㄴㅇ

1000

In [88]:
name

{'mary': 1099,
 'sams': 2111,
 'amy': 9788,
 'tom': 2000,
 'bob': 5877,
 'kelly': 7788,
 'ㅁㅇㄻㄴㅇ': 1000}